
env/
env/
__pycache__

.pytest_cache

*.log
*.tmp
*.bak
*.swp

.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/*.code-workspace
*.code-workspace

.ipynb_checkpoints/

*.png
*.jpg
*.jpeg
*.gif
*.svg

